body{
  background-color: black;
  font-family: 'Libre Caslon Display', serif;
  color: white;
  font-size: 200%
}

a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: gray;
}

a:hover {
background-color: red;
}

#screen{
  background-image: url('../images/frame.png');
  background-color: #000000;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 25%;
}

.star{
  width: 50px;
  height: 50px;
  position: relative;
}

.movie_image{
  width: 20px;
  height: auto;
  position: relative;
  top: 10px;
  left: 50px;

}

#title_card{
  z-index: 10;
}

button{
color: white;
background-color: black;
border: 1px black solid;
border-left: 2px white solid;
border-right: 2px white solid;
padding: 20px;
  font-family: 'Libre Caslon Display', serif;
  font-size: 2em;
  text-transform: uppercase;
}

button:hover{
  background-color: gray;
}
.center{
  display: block;
  text-align: center;
  position: relative;
  top: 100px;
}
