body{
  background-color: rgb(31, 54, 228);
  width: 80%;
  height: 50%;
}


canvas{
  width: 70%;
  height: 50%;
  background-color: white;
  border: 40px solid rgb(29, 72, 120);
}

div{
  width: 20%;
  float: right;
  background-color: white;
  padding: 10px;

}

#score{
  width: 100px;
}
