*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(31, 54, 228);
  width: 80%;
  height: 50%;
}


canvas{
  width: 70%;
  min-width: 300px;
  height: 50%;
  background-color: white;
  border: 20px solid rgb(29, 72, 120);
}

div{
  float: right;
  background-color: white;
  padding: 10px;

}

#score{
  width: 100px;
}
