body {
  font-family: 'Joti One', cursive;
  background-color: #33cccc;
}

p{
  font-family: open sans, sans-serif;
}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #33ccff;
  width: 100%;
  display: inline-block;
}

.main_game {
  border: 5px black solid;
}
