body {
  font-family: 'Joti One', cursive;
  background-color: #33cccc;
  font-size: 200%;
}

p{
  font-family: open sans, sans-serif;
  display: inline;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #33ccff;
  width: 100%;
  z-index: 2;
}

h1{
  display: inline;
}


#main_game {
  border: 5px solid black;
  position: relative;
  top: 100px;
  width: 80%;
  overflow: auto;
}
 .cards{
   background-color: #669966;
 }

img{
  padding: 20px;
}

img:hover{
  border: 1px dotted white;

}
