*{
  padding: 10px;
}

h1{
  font-family: 'Codystar', cursive;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#show_information {
  line-height: 2em;
  border: 1px dotted black;
  width: 80%;
}

img{
  border: 1px solid red;
  width: 400px;
  height: 240px;
}
