
h1{
  font-family: 'Codystar', cursive;
}

body{
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

#show_information {
  line-height: 2em;
/*  border: 1px dotted black;
  border-width: thick;*/
  width: 80%;
/*  border: 10px solid transparent;
  border-image-source: url("");
  border-image-slice: 10%;
  border-image-width: 5px;
  border-image-repeat: repeat;*/

}

.border{
  height: 20px;
  overflow: hidden;
}

svg{
  padding: 5px;
}

img{
  border: 1px solid red;
  width: 50%;
  height: 50%;
}
