body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h1{
  font-family: 'Paprika', cursive;
  padding: 50px;

}
.main {
  padding: 50px;
}
.footer {
  background-image: url('../images/bg_trees.png');
  background-size: contain;
  padding: 50px;
  }


/*
button{
  background-color: red;
  border: none;
  padding: 15px 20px;
  font-family: 'Paprika', cursive;
  font-size: 16px;
  display: block;
}
*/
