@font-face {
  font-family: "aftershok";
  src: url("./fonts/After_Shok-webfont.woff") format("woff");
}

body {
  background-color: #10374a;
  color: white;
  font-size: 200%;
  font-family: monospace;
  margin-left: 20px;
}

img {
  overflow: hidden;
}

button {
  color: white;
  background-color: #00aaff;
  border: 0;
  font-family: monospace;
  font-size: 1em;
  margin: 5px;
  min-width: 200px;
  padding: 5px;

}

button:hover {
  font-family: Courier, monospace;
}

button:active{
    background-color: #00aacc;
}

img {
  float: left;
  max-width:100%;
  height: auto;
  min-width:300px;
  padding-left: 20px;
  border-left: 1px solid white;
}

/* Classes */
.title_btn:hover {
  font-family: 'aftershok', Courier, monospace;
  letter-spacing: .01em;
}

.story {
    background-color: #10374a;
    color: white;
  float:left;
  max-width:40%;
  min-width: 300px;
  border-right: 1px solid white;
  padding-right: 10px;
}
