body {
  font-family: 'Joti One', cursive;
  background-color: #33cccc;
  font-size: 200%;
}

p {
  font-family: open sans, sans-serif;
  display: inline;
}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #33ccff;
  width: 100%;
  z-index: 2;
}

h1{
  display: inline;
}

fieldset {
  border-color:black;
}

label {
    font-family: open sans, sans-serif;
    margin-right: 20px;
}

.player {
  position: relative;
  top: 100px;
}

#btn_submit {
  border-style: none;
  border-radius: 10px;
  background-color: #33aaff;
  margin: 20px;
  padding: 10px;
  font-family: 'Joti One', cursive;
}

#btn_submit:hover{
  background-color: #33ccff;
}

#main_game {
  position: relative;
  top: 100px;
  width: 80%;
  overflow: auto;
}
 .cards{
   background-color: #669966;
 }

img{
  padding: 20px;
  border: 2px solid black;
  float: left;
  width: 100px;
  height: 100px;
}

img:hover{
  border: 2px dotted white;

}
